div.instructions-modal {
  display: none;
  color: black;
  position: fixed;
  top: 22px;
  left: 25px;
  padding: 0px 50px;
  color: #426fc7;
  font-family: monospace;

  /*background-color: #fefefe;*/
  /*background-color: #f5efb7;*/
  /*background-color: #c8efb7;*/
  /*background-color: #ebd5ab;*/
  background-color: #fdf3d7;
  opacity: 0.9;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 764px;
  height: 470px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

div.instructions-modal > h1 {
  text-align: center;
}

div.instructions-modal h1, h3, ul, li, p {
  opacity: 1;
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

span.new-game-button:hover {
  cursor: pointer;
  color: #fdf3d7;
  background: #99493c;
  opacity: 1;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  text-decoration: none;
}

span.new-game-button {
  text-align: center;
  font-weight: bold;
  display: block;
  font-size: 1.17em;
  margin: 10px 30%;
  border-radius: 3px;
  padding: 10px;
  text-decoration: underline;
}

canvas#backgroundCanvas {
  /*background-image: url('http://res.cloudinary.com/dg2yejdpt/image/upload/v1470597072/gl_5669b817-ba0c-4937-a545-723f0a771fd0_xdo8gn.jpg');*/
  position: absolute;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

canvas#breakoutCanvas {
  position: relative;
}
